*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background:#f4fbfb;
}

.navbar {
    background: white;
    display: flex;
    align-items: center;
    padding: 14px 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,.08);
}

.navbar nav a{
    margin:0 12px;
    text-decoration:none;
    color:#444;
    font-weight:500;
}

.navbar nav a.active{
    color:#00bfa6;
}

.user{
    display:flex;
    gap:15px;
    align-items:center;
}

.logout{
    color:red;
    text-decoration:none;
}

.welcome{
    margin:30px auto;
    width:85%;
    background:linear-gradient(90deg,#00c9a7,#0066ff);
    color:white;
    padding:30px;
    border-radius:20px;
}

.stats{
    width:85%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.number{
    font-size:28px;
    font-weight:bold;
    margin-top:10px;
}


.actions{
    width:85%;
    margin:40px auto;
}

.actions-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.action-card{
    background:white;
    padding:25px;
    border-radius:15px;
    text-decoration:none;
    color:#333;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.action-card:hover{
    transform:translateY(-5px);
}

.tip{
    width:85%;
    margin:40px auto;
    background:#f3ecff;
    padding:25px;
    border-radius:15px;
}
